*{
margin:0;
padding:0;
}
.header
{
display: block;
width:100%;
height:50px;
}
.logo
{
height:50px;
width:5%;
}
.h1
{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: relative;
left:50px;
}
nav
{
display: flex;
align-items: center;
justify-content: space-between;
}
.navigation
{
padding:14px 0;
}
.navigation li
{
display: inline-block;
margin:0 15px; 
}
.navigation li a
{
color:black;
text-decoration: dashed;
}
.mid1
{
display:grid;
grid-template-columns:1fr 1fr;
grid-column-gap:2em;
width:100%;
padding:1em;
grid-auto-rows: auto;
}
.box1
{
background-color:rgb(244,244,244);
align-items: center;
vertical-align: middle;
}
.box1 h1
{
vertical-align: middle;
text-align: center;
font-family: monospace;
position: relative;
top:200px;
}
.btn1
{
position: relative;
top:250px;
left:42%;
background-color: black;
margin:15px;
color: white;
}
.btn1:hover
{
background-color: mediumblue;
}
.p1
{
position: relative;
top:220px;

color:black;
font-family: monospace;
text-align: center;
}
.img1
{
width: 100%;
height:100%;
}
.mid2
{
display:grid;
height:25%;
grid-template-columns: 1fr 1fr;
grid-column-gap: 2em;
padding: 2em;
}
.mid3
{
display: grid;
grid-template-columns:1fr 1fr;
grid-column-gap: 2em ;

}
.mid4
{
display: grid;
grid-template-rows:1fr 1fr;
grid-row-gap:2em ;
height:25%;
grid-template-rows: auto;
grid-template-columns: 2em;;
}
.img2
{
width:100%;
height:100%;
}
.img3
{
width:100%;
height:100%;
}
.img4
{
width:325px;
height:220px;
}
.img5
{
width:325px;
height:220px;
}
.footer1
{
background-color:gray;
height:150px;
display:flex;
}
.nav1{
flex:1;   
position:relative;
top:50px;
left:80px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav2
{
flex:1;
position: relative;
top: 10px;
}
.nav3
{
flex:1;
position: relative;
top: 10px;
}
.nav4
{
flex: 1;
}
.navigation1
{
text-decoration: none;
}
.navigation1
{
list-style-type: none;
}
.navigation2
{
list-style-type: none;
}
.nav2 li a{
text-decoration:underline;
color:black;
}
.nav3 li a{
text-decoration:underline;
color: black;
}
.h3
{
position: relative;
right:20px;
top:10px
}
.p5
{
position: relative;
top: 30px;
right:9.5%;
}
.copyright
{
background-color:rgb(29,29,31);
height:50px;
color: rgb(78,78,81);
}
.copyright h4
{
position:relative;
left: 42%;
top:20px;
}
@media (orientation:landscape),(max-width:900px)
{
*
{
margin:0;
padding:0;
}
}